BR2_arm=y
BR2_cortex_a15=y
BR2_ARM_FPU_NEON=y
BR2_ARM_INSTRUCTIONS_THUMB2=y
BR2_CCACHE=y
BR2_ENABLE_DEBUG=y
BR2_STRIP_none=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL)/patches"
BR2_KERNEL_HEADERS_3_10=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_GCC_VERSION_4_8_X=y
BR2_INIT_NONE=y
BR2_SYSTEM_BIN_SH_NONE=y
# BR2_PACKAGE_BUSYBOX is not set
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/avionic-design/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="ad/tk1-20180206"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="kein-baseboard"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-dtb-tegra.bin"
BR2_PACKAGE_HOST_TEGRARCM=y
BR2_PACKAGE_CBOOTIMAGE_CONFIGS=y
BR2_PACKAGE_CBOOTIMAGE_CONFIGS_BUILD="tegra124/avionic-design/kein-baseboard"
BR2_PACKAGE_CBOOTIMAGE_CONFIGS_BCT="meerkat_rev02.bct"
BR2_PACKAGE_CBOOTIMAGE_CONFIGS_IMG="meerkat-emmc"
BR2_PACKAGE_CBOOTIMAGE_CONFIGS_GENERATE_FLASHER=y
BR2_PACKAGE_CBOOTIMAGE_CONFIGS_FLASHER_EXTRA_BOOTCMD="setenv board meerkat-evalboard"
