CPTCFG_CFG80211=m
CPTCFG_CFG80211_WEXT=y
CPTCFG_MAC80211=m
# CPTCFG_RTL_CARDS is not set
CPTCFG_WL_TI=y
CPTCFG_WL18XX=m
CPTCFG_WLCORE_SDIO=m
# CPTCFG_ETHERNET is not set
# CPTCFG_USB_NET_DRIVERS is not set
